.button-style {
    background-color: #6fbce3;
    border-color: lightgrey;
    color: white;
    transition: 0.1s ease; /* Уменьшенное время анимации при наведении */
}

.button-style:hover {
    background-color: #88c3dc;
    border-color: lightgrey;
}

.button-style:active {
    background-color: #5487a8;
    border-color: lightgrey;
}

.button-style-more {
    width: 100%;
}

.button-style:disabled {
  color: grey;
  background-color: lightgray;
  opacity: 0.7;
  cursor: not-allowed;
  border-color: darkgrey;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  margin-right: 8px;
}

.loading-spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}